
<hr>
<h1><strong>About</strong></h1>
<h2>All about me - the developer.</h2>
<hr>
<ul>
<li><h3>I have earned a Google Digital Unlocked certificate for successful completion of Google digital marketing course.</h3>
<img src="./../../assets/Capture.JPG" alt="Google certificate">
</li><br>
<br>
<li>
<h3><a href="https://jenish-patel-web.netlify.app/">Want to know more about me&#10067; Have a look to my website.</a>
</h3>
</li>
<br>
<li>
<h3><a href="https://thawing-waters-16455.herokuapp.com/">Have a look to my Web-322 app.</a>
</h3>
</li>
</ul>
